
.chair {
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .chair-focus {
    margin-bottom: 1em;
    height: 100px;
    position: absolute;
    text-align: right;
    width: 100%;
  }
}

.pagination-centered {
  padding-top: 5em;
}

.top-bar input[type="text"] {
    height: auto !important;
    padding-top: .35rem !important;
    padding-bottom: .35rem !important;
}
